<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>App Tracker</title>
</head>
<body>
  <div class="header">
    <div class="header_content">
      <img src= "/static/money-bag.png" height="80" width="80"/>
      <h2 class="header_text">MONEY TRACKER</h2>
    </div>
  </div>
  <div class="body">
    
  </div>
</body>
</html>